.todo {
  width: 40rem;
  overflow: hidden;
  background-color: rgb(62, 63, 62);
  margin: 2rem auto;
  padding: 1rem;
}

.task-menu {
  margin-top: 2rem;
  padding: 1rem;
  box-shadow: 0 0 0.5rem black;
  display: flex;
  justify-content: space-between;
  .task-name {
    font-size: 1.7rem;
    font-weight: bolder;
    color: rgb(16, 195, 16);
  }
  .task-description {
    font-size: 1.2rem;
    color: white;
  }
  .task-control {
    display: flex;
  }
  .task-complete {
    color: white;
    font-weight: lighter;
  }
}

.icons {
  font-size: 2rem;
  color: white;
  margin-right: 5px;
  &:hover {
    color: red;
  }
}
.check-icon {
  font-size: 2rem;
  color: rgb(16, 195, 16);
}
